.textDecoration {
  font-size: 22px;
  color: #131313;
}
.subtextDecoration {
  font-size: 35px;
  color: #000;
  font-weight: 800;
  font-family: "Fira Sans Condensed";
  letter-spacing: 1px;
  text-align: center;
}
.numDecorate {
  font-weight: 800;
  font-family: "Fira Sans Condensed";
}
.addColor {
  color: #34b6dd;
}

.flex-container {
  flex-direction: row;
  text-align: center;
}

.flex-cont {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.flex-item {
  flex: 25%;
}
.textDecorate2 {
  text-align: left;
}

/*********media query********/

@media (max-width: 736px) {
  .flex-item {
    flex: 50%;
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .flex-item {
    flex: 50%;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .flex-item {
    flex: 50%;
  }
}
